APP_ENV=production
LISTEN_HOST=0.0.0.0
LISTEN_PORT=5000

# (Optional. Default: false)
ENABLE_API_TOKEN=false

# (Optional) Required only if ENABLE_API_TOKEN==true
# API_TOKEN=

# (Optional. Default: cardiffnlp/twitter-roberta-base-dec2021-tweet-topic-multi-all) Set this with topic classification model name hosted in Huggingface hub.
TOPIC_CLASSIFICATION_MODEL="cardiffnlp/twitter-roberta-base-dec2021-tweet-topic-multi-all"

# (Optional. Default: false. Options: true or false) Check whether the cache will be enabled or not
ENABLE_CACHE=false

# (Optional. Default: 60. Options: integer value) Duration of cache in seconds. Parameter will be used when the cache is enabled
CACHE_DURATION_SECONDS=60